@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #555;
    color: #FFFFFF;
    cursor: none;
}

* {
    cursor: none !important;
}

a, button {
    cursor: none !important;
}

::selection {
  background-color: rgb(109, 47, 255); /* The background color of the selected text */
  color: #fff; /* The text color of the selected text */
}

/* Hide scrollbar for all browsers */
html, body, * {
  /* For Firefox */
  scrollbar-width: none;
  /* For IE and Edge (older versions) */
  -ms-overflow-style: none;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Make all images black and white */
img {
  filter: grayscale(100%);
}